# Dependencies
node_modules
npm-debug.log

# Environment & secrets
.env
.env.*

# VCS
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Build outputs / caches
.dist
build
dist
.next
.cache
.vscode
